.estilo_editar {
	/*  display: block !important; */
		padding:0;
		background: #717375;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column; 
}
.estilo_editar .z-textbox{
		border: 1px solid #AEACAC;
		border-radius: 22px;
		box-shadow: 0 3px 1px 0 rgba(0,0,0,0.5);
		height: 150px;
		width: 180px;
		margin:3px 0 3px 0;
		font-size: 15px;
		text-align: center;
}
.estilo_editar .z-textbox:FOCUS{
  	 border: 1px solid #1A5276;
}

.estilo_numero {
	text-align: center;
}

.z-combobox-popup.estilo_combobox.z-combobox-open.z-combobox-shadow .z-combobox-content .z-comboitem.z-comboitem .z-comboitem-text{
	font-size: 15px;
	color: black;
	text-shadow: none;
}

.z-combobox-popup.estilo_combobox.z-combobox-open.z-combobox-shadow .z-combobox-content .z-comboitem.z-comboitem-selected .z-comboitem-text{
	text-shadow: none;
	color: black;
	font-size: 16px;	
}

.estilo_combobox.z-combobox .z-combobox-input {
	font-size: 15px;
	text-decoration: none;
	background: none;
	border: #1A5276;
}

@media only screen and (max-width: 416px)
{
	.z-listbox .z-listbox-header table tbody .z-listhead .z-listheader, .z-listbox .z-listbox-body table tbody .z-listitem .z-listcell{
		width: 100%;
	}
	.estilo_tabbox.z-tabbox.z-tabbox-top .z-tabpanels{
		box-sizing: border-box; 
		padding-right: 40px;
	}
	
	.estilo_combobox {
		margin-top: 4px; 
		margin-bottom: 4px;
	}
	
	.estilo_combobox.z-combobox .z-combobox-input {
		width: 150px;
	}
	
	.desaparece_idiomas { 
		display: none;
	}
	
	.z-paging-info {
		display: none;
	}
	
	.z-paging{
		display:flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
	}
	
	.z-paging .z-paging-input{
		color: black;
		text-align: center;
	}
	
	.z-paging .z-paging-text{
		color: white;
	}
	
	.update_aparece {
		visibility: hidden;
	}
}