@media only screen and (max-width: 416px)
{
	.estilo_combobox {
		margin-top: 4px; 
		margin-bottom: 4px;
	}
	
	.estilo_combobox.z-combobox .z-combobox-input {
		width: 150px;
	}
}
.div_content_etiqueta_desc{
	background: rgba(0,0,0,0.1);
	border-radius:5px;
	padding:10px;
	box-sizing:border-box;
	height:auto;
	width:70%;
}
.div_operacion_etiqueta{
	width: 30%;
	display: flex;
	justify-content:center;
	align-items:center;
}
@media (max-width:700px){
	.div_content_etiqueta_desc,
	.div_operacion_etiqueta{
		width: auto;
	}
	.div_operacion_etiqueta{
		justify-content:flex-start;
	}
}
.lbl_idioma_etiqueta{
	color: #37454d;
	font-size: 15px;
	font-weight: bold;
}