/*=============encabezado===============*/
.contendor_cabezera {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.style_foto_admin{
	width: 46px;
	height: 46px;
	border-radius:50%;
	border: 2px solid white;
}
.cabezera {
	background: transparent;
	position: absolute; 
	right: 2%;
	top: 2px;
	display: flex !important;
}
.cabezera_menubar.z-menubar{
	background: transparent;
	top: 10px;
}
@media (max-width:700px){
	.cabezera{
		display: none !important;
	}
}
.contenedor_desplegable {
	position: absolute;
	left: 135px;
	top: 2%;
	display: block !important;
}
.contenedor_desplegable_responsive{
	position: absolute;
	right: 10px;
	top: 2%;
	display:none !important;
}
@media (max-width:700px){
	.contenedor_desplegable_responsive{
		display: block !important;
	}
	.contenedor_desplegable{
		display: none !important;
	}
}
.z-menubar {
	background: transparent none repeat 0 0;
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.z-menubar.z-menubar-horizontal .z-menu .z-menu-content{
	background: linear-gradient(to top, #3f3f3f 0%, #222222 20%);
	border: 1px solid #1f1f1f;
	height: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.z-menubar.z-menubar-horizontal .z-menu .z-menu-content:HOVER {
	background: linear-gradient(to bottom, #0f0f0f 0%, #222222 100%);
	border: 1px solid black;
	color: white;
}
 
.z-menubar.z-menubar-horizontal .z-menu .z-menu-content .z-menu-text{
	color: rgb(196, 204, 218);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    line-height: 16px;
    text-shadow: none;
}

.z-menubar.z-menubar-horizontal .z-menu .z-menu-content .z-menu-text:HOVER{
	color: white;
}

.z-menupopup {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
	border-radius: 4px;
}

.z-menupopup .z-menupopup-content {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
}

.z-menupopup .z-menupopup-content .z-menuitem .z-menuitem-content {
    background: transparent;
    color: rgb(196, 204, 218); 
 }

.z-menupopup .z-menupopup-content .z-menuitem .z-menuitem-content .z-menuitem-text {
	color: #999;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    line-height: 16px;
    text-shadow: none;
    color: rgb(196, 204, 218); 
}

.z-menupopup .z-menupopup-content .z-menuitem .z-menuitem-content:hover{
	background: white;
}

.z-menupopup .z-menupopup-content .z-menuitem .z-menuitem-content .z-menuitem-text:hover {
	color: black;
}

/*=================cuerpo==============*/
.contenedor_cuerpo {
	display: flex;
	margin-top: -40px;
	z-index: 2;
	border: none;
}

.paneles {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
	border: 0;
	
}
.z-div .z-panel .z-panelchildren .paneles.z-menubar .z-menuitem {
	width: 200px;
	background: transparent;
}
.z-div .z-panel .z-panelchildren .paneles.z-menubar .z-menuitem .z-menuitem-content {
	background: transparent;
	text-align: center;
}

.z-div .z-panel .z-panelchildren .paneles.z-menubar .z-menuitem .z-menuitem-content .z-menuitem-text {
	color: #999;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    line-height: 16px;
    text-shadow: none;
    
}

.subItem {
	
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .z-treecell .z-treecell-content{
    background:  linear-gradient(to bottom, #3f3f3f 0%, #222222 5%);
	text-align: center;
	color: rgb(196, 204, 218); 
	font-size: 17px;
	height: 50px;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;	
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
	-moz-justify-content:center;
	-ms-justify-content:center;
	-o-justify-content:center;
	align-items:center;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
}

.paneles.z-tree .z-tree-body table {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
	text-align: center;
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .z-treecell .z-treecell-content:BEFORE{

}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .z-treecell .z-treecell-content:HOVER {
	background: linear-gradient(to bottom, #5f5f5f 0%, #222222 100%);
	color: white;
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .z-treecell:HOVER .z-treecell-content:AFTER{
	content: '';
	width: 0px;
	height: 0px;
	border-left:8px solid transparent;
	border-bottom:8px solid transparent;
	border-right: 8px solid white;
	border-top: 8px solid transparent;
	position:absolute;
	right: 0px;
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .subItem.z-treecell .z-treecell-content {
	background: #2f2f2f;
	border-top: 0.5px solid #222222;
	height: 35px;
	font-size: 17px;
	color: rgb(196, 204, 218);
}

.contenedor_horizontal {
	margin-top: -40px;
	z-index: 2;
	border: none;
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .subItem.z-treecell .z-treecell-content .z-treecell-text{
	color: #999;
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .subItem.z-treecell .z-treecell-content:HOVER {
	background: linear-gradient(to bottom, #5f5f5f 0%, #222222 100%);
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .subItem.z-treecell .z-treecell-content: {
	background: blue;
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow-selected .subItem.z-treecell .z-treecell-content:AFTER {
	content: '';
	width: 0px;
	height: 0px;
	border-left:8px solid transparent;
	border-bottom:8px solid transparent;
	border-right: 8px solid white;
	border-top: 8px solid transparent;
	position:absolute;
	right: 0px;
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .z-treecell .z-treecell-content .z-tree-icon .z-icon-caret-down, .paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .z-treecell .z-treecell-content .z-tree-icon .z-icon-caret-right{
    display: none; 
}

.esquinavlayout {
	background: transparent;
}
.cabezera.z-div .z-button {
	width: 44px;
    height: 44px;
	border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.cabezera.z-div .z-label {
	color: #555;
	font-size: 28px;
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

.contenedor_botones {
	background:transparent;
/* 	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%); */
	border-radius: 20px 0 0 0;
	z-index: 3;
	width: 100%;
}
.debajo_botones {
	background-color: #e5e5e5;
    box-shadow: 0 0 1px #fff;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
	display: flex;
	justify-content:flex-center;
	align-items:center;
	height: 30px;
	margin-top: -2px;
	box-sizing:border-box;
	padding-left: 2%;
}

.agrupa_tree {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
}
.boton_desplegable{
	border: none;
	background:transparent;
	padding: 0;
	border-radius:4px;
}
.boton_desplegable .boton_desplegable-image{
	width: 100%;
	height: 100%;
	border-radius:4px;
}
.logoAdmi {
	color: #adadad;
    text-shadow: 0 1px #fff;
    font-size: 40px;
    display: block;
    font-weight: normal;
    line-height: 54px; 
    position: absolute;
    top:0;
    left: 10px;
}
.z-window.z-window-noborder.z-window-noheader.z-window-embedded .z-window-content {
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
}

.z-window.z-window-noborder.z-window-noheader.z-window-popup .z-window-content {
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
}
.div_tree{
	background: linear-gradient(to top, #1f1f1f 0%, #222222 100%);
}
.encima_tree {
	background: transparent;
	display: block !important;
}
@media (max-width:700px){
	.encima_tree{
		display: none !important;
	}
	.div_tree{
		border-radius:5px 5px 0 0;
	}
}
/*====================estilo contenido=====================*/
.z-listbox .z-listbox-header table tbody .z-listhead .z-listheader .z-listheader-content .z-listheader-checkable {
	visibility: hidden;
}

.hboxbotones {
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
}
/*=====CONTENIDO TABBOX========*/
.div_perfil_responsive{
	background:linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);;
	height: 100px;
	padding: 5px 20px 20px 20px;
	box-sizing:border-box;
	border-radius:5px 5px 0 0;
}
.estilo_tabbox {
	box-sizing: border-box;
	padding-left: 1%;
}
.estilo_tabbox.z-tabbox{
	background: white;
/* 	display:none; */
	border-radius:10px 0 0 0;
}
.estilo_tabbox .z-tabs{
	padding: 10px 0 0 0;
}
@media (max-width:700px){
	.estilo_tabbox .z-tabs{
		display: inline-block;
	}
}
.estilo_tabbox .z-tabs .z-tabs-content,
.estilo_tabbox .z-tabs .z-tabs-content .z-tab{
	background:transparent;
	border: none;
	height: 50px;
	width: auto;
}
.estilo_tabbox .z-tabs .z-tabs-content .z-tab,
.estilo_tabbox .z-tabs .z-tabs-content .z-tab.z-tab-selected{
	display:flex;
	justify-content:center;
	align-items:center;
	transition: 0.3s all ease;
	margin: 0 2px 0 2px;
}
.estilo_tabbox .z-tabs .z-tabs-content .z-tab.z-tab-selected{
	background: #2f2f2f;
	height: 50px;
	border-radius:15px;
}
.estilo_tabbox .z-tabs .z-tabs-content .z-tab:hover{
	background: #2f2f2f;
	height: 50px;
	border-radius:15px;
}
.estilo_tabbox .z-tabs .z-tabs-content .z-tab .z-tab-content{
	text-decoration: none;
}
.estilo_tabbox .z-tabs .z-tabs-content .z-tab:hover .z-tab-content .z-tab-text{
	color: white;
	font-weight: bold;
}
.estilo_tabbox .z-tabs .z-tabs-content .z-tab.z-tab-selected .z-tab-content .z-tab-text{
	color: white;
	font-weight: bold;
}
.estilo_tabbox .z-tabs .z-tabs-content .z-tab .z-tab-content .z-tab-text{
	color: black;
	font-weight: bold;
}
.estilo_tabbox.z-tabbox.z-tabbox-top .z-tabpanels .z-tabpanel,
.estilo_tabbox.z-tabbox.z-tabbox-top .z-tabs .z-tabs-content, 
.estilo_tabbox.z-tabbox.z-tabbox-top .z-tabs .z-tabs-content .z-tab.z-tab-selected {
	border: none;
}
.estilo_tabbox.z-tabbox.z-tabbox-top{
	padding: 2px;
	padding-bottom: 10px;
}
.estilo_div_tree {
	width: 18%;
}

/*====================modo responsive tablet==============*/
@media only screen and (max-width: 700px)  {
	.contenedor_botones {
	    border-radius: 0;
    }
    
    .contenedor_cuerpo.z-div .contenedor_botones.z-div {
       min-width: 100%; 
	}
	
    .z-window.z-window-noborder.z-window-noheader.z-window-popup.z-window-shadow{ 
        max-width: 200px; 
    }
    .esquinavlayout {
		padding: 0;
		margin-left: 0;
    }
    .z-window.z-window-noborder.z-window-noheader.z-window-embedded{
       display: none;
    }
}
/*====================modo responsive smarphone==============*/

/*==NUEVA FORMA DE LA PARTE DE MANTENIMIENTO==*/
.div_mantenimiento{
	width: 100%;
	height: auto;
	background:  linear-gradient(to bottom, #3f3f3f 0%, #222222 5%);
}
.div_mantenimiento_items{
	border-top: 1px solid rgba(255,255,255,0.2);
	text-align: center;
	color: rgb(196, 204, 218); 
/* 	color:white; */
	font-size: 17px;
	height: 50px;
	font-weight: bold;
	cursor: pointer;
	background:  linear-gradient(to bottom, #3f3f3f 0%, #222222 5%);
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	padding:0 0 0 10px;
	box-sizing:border-box;	
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
	-moz-justify-content:flex-start;
	-ms-justify-content:flex-start;
	-o-justify-content:flex-start;
	align-items:center;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
}
.div_mantenimiento_items:hover,
.div_mantenimiento_items_sub div:hover{
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);	
}
.div_mantenimiento_items_sub:hover div:after{
	content: '';
	width: 0px;
	height: 0px;
	border-left:8px solid transparent;
	border-bottom:8px solid transparent;
	border-right: 8px solid white;
	border-top: 8px solid transparent;
	position:absolute;
	right: 0px;
}
.div_mantenimiento_items_sub div{
	border-top: 1px solid rgba(255,255,255,0.2);
	text-align: center;
	color: rgb(196, 204, 218); 
/* 	color:white; */
	font-size: 17px;
	height: 50px;
	font-weight: bold;
	cursor: pointer;
	background:rgba(255,255,255,0.3);
/* 	background:#2f2f2f; */
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	box-sizing:border-box;	
	padding:0 0 0 40px;
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
	-moz-justify-content:flex-start;
	-ms-justify-content:flex-start;
	-o-justify-content:flex-start;
	align-items:center;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
}
.lbls_mantenimientos{
	margin: 0 0 0 10px;
}
.estilos-iconos{
	font-weight: bold;
}
@media (max-width:700px){
	.lbls_mantenimientos{
		display: none;
	}
	.div_mantenimiento{
		width: 45px;
		padding: 0 2px 0 2px;
		box-sizing:border-box;
		border-radius:5px 5px 0 0; 
/* 		background: transparent; */
	}
	.div_mantenimiento_items{
		border-radius:5px;
	}
	.div_mantenimiento_items_sub div{
		padding: 0 0 0 10px;
		background:rgba(255,255,255,0.3);
		border-radius:5px; 
	}
	.estilos-iconos{
		font-size: 25px;
	}
}