.div_content_datos_destinos{
	display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	background: rgba(0,0,0,0.1);
	border-radius:5px;
	padding: 10px;
}
.div_content_select_destino{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	flex-direction:column;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	-o-flex-direction:column;
}