.div_contenedor_nuevo_servicio{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}
@MEDIA (max-width:700px) {
	.div_contenedor_nuevo_servicio{
		flex-direction:column;
	}
}
.style_restricciones.z-radiogroup{
	background: rgba(0,0,0,0.2);
	padding: 8px;
	border-radius:5px;
	display:flex;
	flex-direction:column;
}
.style_restricciones.z-radiogroup .z-radio input[type="radio"]{
	display: none;
}
.style_restricciones.z-radiogroup .z-radio label{
/* 	color: #053351; */
/* 	margin-left: 7px; */
	display: inline-block;
    cursor: pointer;
    color: #053351;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    font-weight:bold;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.style_restricciones.z-radiogroup .z-radio label:hover{
	background: rgba(0, 0, 0, 0.2);
}
.style_restricciones.z-radiogroup .z-radio label:before{
	  content:'';
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      border-radius: 50%;
      background: none;
      border: 3px solid #053351;
}
.style_restricciones.z-radiogroup input[type="radio"]:checked + label:before {
      display: none; 
}
.style_restricciones.z-radiogroup input[type="radio"]:checked + label{
	  padding: 5px 15px;
      background: #053351;
      border-radius: 2px;
      color: #fff;
}