.div_contenedor_nuevo_paquete{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.estilo_nombre_paquete {
	color: #069;
	font-size: 16px;
	font-weight: bold;
}

.descripcion_costado_paquete{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
}	
.div_contenedor_datos_paquete{
	display: flex;
}

.div_content_datos_listaPaq{
	background: rgba(0,0,0,0.1);
	border-radius:5px;
	padding: 10px;
	width: 35%;
}

.horizontal_label_texbox_paquete {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.div_content_datosAdicionales_paq{
	background: rgba(0,0,0,0.1);
	border-radius:5px;
	padding: 10px;
	width: 30%;
}

.horizontal_icons_personas {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}
@MEDIA (max-width:700px) {
	.div_contenedor_nuevo_paquete{
		flex-direction:column;
	}
	
	.div_content_img_list{
		width: 40% !important;
		padding: 1%;
	}
	
	.estilo_nombre_paquete {
		font-size: 13px;
	}
	
	.div_content_datos_listaPaq {
		width: 100% !important;
	}
	
	.horizontal_label_texbox_paquete{
		display: flex;
		flex-direction: column;
	}
	.div_content_datosAdicionales_paq {
		width: 100% !important;
	}
}