.div_opciones_busqueda{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: center !important;
	padding: 4px;
	background: lightgray;
}

.intervalo_fechas{
	vertical-align: middle;
	display: flex;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   align-items: center;
   width: 35%;
}

.estilo_div_estado_pagos {
	width: 57%;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	align-items: center;
}

.btn_lista_pasajeros{
	background:#3BA420;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-shadow: none;
}

.btn_lista_pasajeros:HOVER{
	background: #3BA420 ;
}

.btn_lista_pasajeros:FOCUS{
	background: #3BA420 ;
	color: white;
}

.estilo_win_popup {
	border: 0.3px solid rgba(0,0,0,0.1);
	padding: 2px;
	box-sizing:border-box;
    box-shadow: 0 3px 4px rgba(41,51,57,.5);
    background: rgba(0,0,0,0.1);
}

.div_pasajeros {
	width: 57%;
}

.estilo_titulo_pasajeros {
	background: -webkit-linear-gradient(top, #202751 0.2%, #053351 100%);
    background: linear-gradient(to bottom, #202751 0.2%, #053351 100%);
}

.estilo_pago_porcentaje {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.estilo_pagos {
   border: 1px solid rgba(0,0,0,0.1);
   padding: 10px;
   box-sizing:border-box;
   box-shadow: 0 1px 4px rgba(41,51,57,.5);
   background: rgba(0,0,0,0.1);
}

.estilo_contenidos_horizontales {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.estilo_contenidos_centrados {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	align-items: center;
}

@media only screen and (max-width: 416px)
{
	
	.div_pasajeros {
		width: 100% !important;
	}
	.div_opciones_busqueda{
       display: flex;
	   display: -webkit-flex;
	   display: -moz-flex;
	   display: -ms-flex;
	   display: -o-flex;
	   flex-direction: column;
	   width: 100% !important;
    }
    .intervalo_fechas .z-datebox{
		width: 60% !important;
	}
	.intervalo_fechas .z-datebox .z-datebox-input{
		width: 100% !important;
	}
    .intervalo_fechas{
	   display: flex;
	   display: -webkit-flex;
	   display: -moz-flex;
	   display: -ms-flex;
	   display: -o-flex;
	   flex-direction: column;
	   justify-content: center;
	   width: 100% !important;
    }
    .estilo_div_estado_pagos {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		align-items: center;
		flex-direction: column;
		width: 100% !important;
	}
}