.estilo_editar {
	/*  display: block !important; */
		padding:0;
		background: #717375;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column; 
}
.estilo_numero {
	text-align: center;
}


@media only screen and (max-width: 416px)
{
	.z-listbox .z-listbox-header table tbody .z-listhead .z-listheader, .z-listbox .z-listbox-body table tbody .z-listitem .z-listcell{
		width: 100%;
	}
	.desaparece_idiomas { 
		display: none;
	}
	
	.z-paging-info {
		display: none;
	}
	
	.z-paging{
		display:flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
	}
	
	.z-paging .z-paging-input{
		color: black;
		text-align: center;
	}
	
	.z-paging .z-paging-text{
		color: white;
	}
	
	.update_aparece {
		visibility: hidden;
	}
}