.boton_seleccionar_imag, .boton_seleccionar_imag:HOVER  {
	background: #717375;
	border-radius: 10px;
	text-shadow: none;
	height: 30px; 
}
.boton_guardar_insercion, .boton_guardar_insercion:HOVER{
	background: #78cd51;
	border-radius: 10px;
	text-shadow: none;
	height: 30px; 
}

@media only screen and (max-width: 416px)
{	
    
}