.contenedor_cabezera {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
	width: 100%;
	height: 70px;
}

.cabezera {
	position: absolute;
	right: 50px;
	top: 5px;
}


.z-menubar {
	background: transparent none repeat 0 0;
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.z-menubar.z-menubar-horizontal .z-menu .z-menu-content{
	background: transparent;
	border: 1px solid #1f1f1f;
}

.z-menubar.z-menubar-horizontal .z-menu .z-menu-content:HOVER {
	background: linear-gradient(to bottom, #0f0f0f 0%, #222222 100%);
	border: 1px solid black;
	color: white;
}
 
.z-menubar.z-menubar-horizontal .z-menu .z-menu-content .z-menu-text{
	color: rgb(196, 204, 218);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    line-height: 16px;
    text-shadow: none;
}

.z-menubar.z-menubar-horizontal .z-menu .z-menu-content .z-menu-text:HOVER{
	color: white;
}

.z-menupopup {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
	border-radius: 4px;
}

.z-menupopup .z-menupopup-content {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
}

.z-menupopup .z-menupopup-content .z-menuitem .z-menuitem-content {
    background: transparent;
 }

.z-menupopup .z-menupopup-content .z-menuitem .z-menuitem-content .z-menuitem-text {
	color: #999;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    line-height: 16px;
    text-shadow: none;
}

.z-menupopup .z-menupopup-content .z-menuitem .z-menuitem-content:hover{
	background: white;
}

.z-menupopup .z-menupopup-content .z-menuitem .z-menuitem-content .z-menuitem-text:hover {
	color: black;
}

.paneles {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
	border: 0;
	
}
.z-div .z-panel .z-panelchildren .paneles.z-menubar .z-menuitem {
	width: 200px;
	background: transparent;
}
.z-div .z-panel .z-panelchildren .paneles.z-menubar .z-menuitem .z-menuitem-content {
	background: transparent;
	text-align: center;
}

.z-div .z-panel .z-panelchildren .paneles.z-menubar .z-menuitem .z-menuitem-content .z-menuitem-text {
	color: #999;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    line-height: 16px;
    text-shadow: none;
    
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .z-treecell .z-treecell-content{
    background:  linear-gradient(to top, #3f3f3f 0%, #222222 20%);
	text-align: center;
	color: rgb(196, 204, 218); 
	font-size: 17px;
	height: 50px;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;	
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
	-moz-justify-content:center;
	-ms-justify-content:center;
	-o-justify-content:center;
	align-items:center;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
}
.paneles.z-tree .z-tree-body table {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
	text-align: center;
}
.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .z-treecell .z-treecell-content:HOVER {
	background: linear-gradient(to bottom, #5f5f5f 0%, #222222 100%);
	color: white;
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .z-treecell:HOVER .z-treecell-content:AFTER{
	content: '';
	width: 0px;
	height: 0px;
	border-left:8px solid transparent;
	border-bottom:8px solid transparent;
	border-right: 8px solid white;
	border-top: 8px solid transparent;
	position:absolute;
	right: 0px;
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .subItem.z-treecell .z-treecell-content {
	background:  linear-gradient(to top, #3f3f3f 0%, #222222 20%);
	color: rgb(196, 204, 218);
	border: 1px dashed white;
	height: 35px;
}

.z-hlayout {
	margin-top: -30px;
	background: transparent;
	z-index: 23;
	height: auto;
}

.z-hlayout .z-hlayout-inner .paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .subItem.z-treecell .z-treecell-content .z-treecell-text{
	color: #999;
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .subItem.z-treecell .z-treecell-content:HOVER {
	background: linear-gradient(to bottom, #5f5f5f 0%, #222222 100%);
	color: white;
}

.paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .z-treecell .z-treecell-content .z-tree-icon .z-icon-caret-down, .paneles.z-tree .z-tree-body table .z-treechildren .z-treerow .z-treecell .z-treecell-content .z-tree-icon .z-icon-caret-right{
    color: blue;
    font-size: 25px;
}

.esquinavlayout {
	background: transparent;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
}

.derecha_Botones {
	position: absolute;
	right: 50px;
}

.z-hlayout .z-hlayout-inner .cabezera.z-div .z-button {
	width: 44px;
    height: 44px;
	border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.z-hlayout .z-hlayout-inner .cabezera.z-div .z-label {
	    color: #555;
	    font-size: 28px;
	    font-weight: normal;
	    text-shadow: 0 1px 0 #fff;
}

.contenedor_botones {
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
	display: flex;
	justify-content:flex-center;
	align-items:center;
	height: 80px;
	padding-left: 50px;
	border-radius: 20px 0 0 0;
	margin-top: 0;
	width: 100%;
}
.debajo_botones {
	background-color: #e5e5e5;
    box-shadow: 0 0 1px #fff;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
	display: flex;
	justify-content:flex-center;
	align-items:center;
	height: 30px;
	margin-top: -4px;
}

.z-hlayout .z-hlayout-inner {
	border: 0;
	margin: 0;
	padding: 0;
}

.agrupa_tree {
	background: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
}
