.z-panel.z-panel-noborder.z-panel-noframe .z-panel-head .z-panel-header, .z-panel.z-panel-noborder.z-panel-noframe .z-panel-body .z-panelchildren.z-panelchildren-noborder .z-hlayout{
	 background: #eeeeee;
}

.z-panel.z-panel-noborder.z-panel-noframe .z-panel-head {
	 background: #eeeeee;
	 border-bottom: 1px solid black;
	 border-left: none;
	 border-right: none;
	 border-top: none;
}

.z-panel.z-panel-noborder.z-panel-noframe .z-panel-head .z-panel-header .z-caption .z-button {
	border-radius: 10px;
	background:  transparent;
	text-shadow: none;
	color: black;
	height: 30px;
	border: none;
}

.div_principal {
	border-radius: 50px; 
}

.z-panel.z-panel-noborder.z-panel-noframe .z-panel-head .z-panel-header .z-caption .z-button:FOCUS {
	background: #717375;
}

.z-panel.z-panel-noborder.z-panel-noframe .z-panel-head .z-panel-header .z-caption .z-button:HOVER {
	background: #717375;
}

.z-textbox {
	background:  linear-gradient(to bottom,#ffffff 90%, #eeeeee 90%);
}

.estilo_foto {
	background: #717375;
	border-radius: 20px;
	text-shadow: none;
}

.estilo_foto:HOVER {
	background: #717375;
}

.z-combobox-input {
	width: 80px;
}

.z-listbox .z-listbox-header table tbody .z-listhead .z-listheader .z-listheader-content {
	background: #717375;
	text-align: center;
	color: black;
}

.insertar {
	display: flex;
	box-sizing: border-box;
	padding: 10px;
}

.z-listbox .z-listbox-body table tbody .z-listitem.z-listbox-odd{
	background: none;
}

.z-listbox .z-listbox-body table tbody tr:HOVER .z-listcell, .z-listbox .z-listbox-body table tbody tr:VISITED .z-listcell{
	background:#F9F7F7;
}

.z-combobox .z-combobox-button:HOVER{
	background: #1A5276;
	border: #1A5276;
}
.z-combobox .z-combobox-button{
	background: #1A5276;
	border: #1A5276;
}

.z-combobox .z-combobox-input:FOCUS {
	border: none;
}

.z-combobox .z-combobox-button .z-combobox-icon.z-icon-caret-down:before{
	visibility: visible;
	color: white;
}

.z-listbox .z-listbox-body table tbody .z-listitem .z-listcell .z-listcell-content .z-button {
	background: #717375;
	text-shadow: none;
	width: auto;
	height: 30px;
}

.z-listbox .z-listbox-body table tbody .z-listitem .z-listcell .z-listcell-content .z-button:HOVER{
	border: 1px solid lightblue;
}

.z-listbox .z-listbox-body table tbody .z-listitem .z-listcell .z-listcell-content .z-vbox{
	margin: 0 auto;
}

.insertar.z-hlayout {
	box-sizing: border-box;
	padding: 10px;
}

.insertar.z-hlayout .z-hlayout-inner .z-vlayout .z-vlayout-inner .z-textbox {
	border: 1px solid #AEACAC;
	border-radius: 22px;
	box-shadow: 0 3px 1px 0 rgba(0,0,0,0.5);
	height: 40px;
	width: 200px;
}

.insertar.z-hlayout .z-hlayout-inner .z-vlayout .z-vlayout-inner .z-textbox:HOVER {
	border: 1.8px solid #868585;
}

@media only screen and (max-width: 416px)
{
	
	.z-listbox .z-listbox-header table tbody .z-listhead .z-listheader, .z-listbox .z-listbox-body table tbody .z-listitem .z-listcell{
		width: 100%;
	}
	.estilo_tabbox.z-tabbox.z-tabbox-top .z-tabpanels{
		box-sizing: border-box; 
		padding-right: 40px;
	}
	
	.estilo_combobox {
		margin-top: 4px; 
		margin-bottom: 4px;
	}
	
	.estilo_combobox.z-combobox .z-combobox-input {
		width: 150px;
	}
}