.estilo_div_disponibilidad {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	align-items: center;
}

.estado_pagos.z-radiogroup{
	background: rgba(0,0,0,0.2);
	padding: 8px;
	border-radius:5px;
	display:flex;
}
.estado_pagos.z-radiogroup .z-radio input[type="radio"]{
	display: none;
}
.estado_pagos.z-radiogroup .z-radio label{
/* 	color: #053351; */
/* 	margin-left: 7px; */
	display: inline-block;
    cursor: pointer;
    color: #053351;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    font-weight:bold;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.estado_pagos.z-radiogroup .z-radio label:hover{
	background: rgba(0, 0, 0, 0.2);
}
.estado_pagos.z-radiogroup .z-radio label:before{
	  content:'';
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      border-radius: 50%;
      background: none;
      border: 3px solid #053351;
}
.estado_pagos.z-radiogroup input[type="radio"]:checked + label:before {
      display: none; 
}
.estado_pagos.z-radiogroup input[type="radio"]:checked + label{
	  padding: 5px 15px;
      background: #053351;
      border-radius: 2px;
      color: #fff;
}

.div_opciones_busqueda_reservas{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: start !important;
	padding: 4px;
	background: lightgray;
}

.estilo_contenedor_estadoPago{
   border: 1px solid rgba(0,0,0,0.1);
   padding: 10px;
   box-sizing:border-box;
   box-shadow: 0 1px 4px rgba(41,51,57,.5);
   background: rgba(0,0,0,0.1);
   display: flex;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   flex-direction: column;
   justify-content: center !important;
   align-items: center;
   width: 34%; 
}
.div_content_info_listRepReserva{
	width: 36% ;
}

.div_contenedor_datos_listRepReserva{
	display: flex;
	display: -webkit-flex;
   	display: -moz-flex;
   	display: -ms-flex;
   	display: -o-flex;
	width: 100%;
}

.estilo_fechas {
	font-weight: bold;
	font-size: 13px;
	color: black;
	width: 35%;
	display: flex;
	display: -webkit-flex;
   	display: -moz-flex;
   	display: -ms-flex;
   	display: -o-flex;
   	flex-direction: column;
}
.intervalo_fechas{
	display: flex;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   align-items: center;
   justify-content: start;
   left: 0;
   width: 35%;
}
.estilo_div_estado_pagos {
	width: 57%;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	align-items: center;
}

.checkbox_desktop {
	display: block;
}

.checkbox_respons {
	display: none;	
}

.div_paquete{
	width:19%;
}

.div_destinos{
	width:19%;
}

.div_content_destino .z-listbox .z-listbox-body table tbody .z-listitem .z-listcell .z-listcell-content{
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.numeracion-desktop {
	width: 10%;
}
.estilo_columnas_precios_etiqueta{
	text-align: left;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	flex-direction: column;
}
.estilo_columnas_precios{
	text-align: right;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	flex-direction: column;
}

.estilo_monto_persona {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	}

.estilo_monto_persona .z-label {
	font-style: italic; 
	font-size: 15px;
}
.estilo_nombre_paquete_reserva {
	color: #069;
	font-size: 16px;
	font-weight: bold;
}

/********************* ESTILO LISTBOX **************************/
.div_contenedor_datos_listRepReserva .z-listbox .z-listbox-header table tbody .z-listhead .z-listheader .z-listheader-content {
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	padding: 2px;
	box-sizing:border-box;
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    background: rgba(0,0,0,0.2);
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    height: 25px;
    vertical-align: center;
}

.div_contenedor_datos_listRepReserva .z-listbox .z-listbox-body table tbody .z-listitem.z-listbox-odd{
	background: none !important;
}

.div_contenedor_datos_listRepReserva .z-listbox .z-listbox-body table tbody .z-listitem{
	background: transparent;
}

.div_contenedor_datos_listRepReserva .z-listbox .z-listbox-body table tbody .z-listitem:hover{
	background: transparent;
}

.div_contenedor_datos_listRepReserva .z-listbox .z-listbox-body table tbody .z-listitem .z-listcell .z-listcell-content {
	display: flex;
	align-items: center;
	background: transparent;
}
.div_contenedor_datos_listRepReserva .z-listbox .z-listbox-body table tbody .z-listitem .z-listcell .z-listcell-content:hover{
	background: transparent;
}

.div_contenedor_datos {
	display: flex;
	   display: -webkit-flex;
	   display: -moz-flex;
	   display: -ms-flex;
	   display: -o-flex;
	   flex-direction: column;
	   width: 100% ;
}

.div_numeracion_reporte_reserva{
	background: #053351;
	color: white;
	font-size: 18px;
	font-weight: bold;
	width: 10%;
	height: 26px;
	padding: 2px;
	position: relative;
	top: -15px;
	left: -15px;
	display: flex;
	justify-content:center;
	align-items:center;
}
.div_numeracion_reporte_reserva:AFTER{
	content: '';
	border-bottom:13px solid #053351;
	border-top:13px solid #053351;
/* 	border-left:10px solid #2f2f2f; */
	border-right:10px solid transparent;
	top:0;
	right: -10px;
	position: absolute;
}
.div_numeracion_reporte_reserva:BEFORE {
	content: '';
	border-bottom:13px solid transparent;
	border-top:13px solid gray;
	border-left:5px solid transparent;
	top:26px;
	left:0;
	position: absolute;
}

.div_content_destino .z-listbox .z-listbox-item .z-listcell .z-listcell-content {
	width: 100% !important;
}

@media only screen and (max-width: 416px)
{
	.estilo_nombre_paquete_reserva {
		font-size: 14px;
	}
	.numeracion-desktop {
		display: 100px !important;
	}
	.div_numeracion_reporte_reserva {
		width: 26% !important;
	}
	.intervalo_fechas .z-datebox{
		width: 60% !important;
	}
	.intervalo_fechas .z-datebox .z-datebox-input{
		width: 100% !important;
	}
	.estilo_contenedor_costo{
    	display: none !important;
    }
    .intervalo_fechas{
	   display: flex;
	   display: -webkit-flex;
	   display: -moz-flex;
	   display: -ms-flex;
	   display: -o-flex;
	   flex-direction: column;
	   justify-content: center;
	   width: 100% !important;
    }
    .div_opciones_busqueda_reservas{
       display: flex;
	   display: -webkit-flex;
	   display: -moz-flex;
	   display: -ms-flex;
	   display: -o-flex;
	   flex-direction: column;
	   width: 100% !important;
    }
    .estilo_div_estado_pagos {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		align-items: center;
		flex-direction: column;
		width: 100% !important;
	}
	.checkbox_desktop {
		display: none !important;
	}

	.checkbox_respons {
		display: block !important;	
	}
	
	.div_contenedor_datos_listRepReserva{
		display: flex;
		display: -webkit-flex;
	   	display: -moz-flex;
	   	display: -ms-flex;
	   	display: -o-flex;
	   	flex-direction: column;
		width: 100% !important;
	}
	
	.estilo_fechas {
		width: 100% !important;
		display: flex;
		display: -webkit-flex;
	   	display: -moz-flex;
	   	display: -ms-flex;
	   	display: -o-flex;
	   	flex-direction: column;
		justify-content: center;
	}
	
	.div_content_info_listRepReserva{
		width: 100% !important;
	}
	
	.div_paquete{
		width: 100% !important;
	}
	
	.div_destinos{
		width: 100% !important;
	}
	.estilo_contenedor_estadoPago{
		width: 100% !important;
		
	}
}


