.div_contenedor_nuevo_servicio{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.div_contenedor_lista_servicio{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.estilo_nombre_servicio {
	color: #069;
	font-size: 1.5em;
	font-weight: bold;
}

.horizontal_label_texbox {
	display: flex;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.estilo_btnEditar {
	background:#fabb3d; 
	border-color:#fabb3d; 
	border-radius: 20px;
	width: 100px;
	color: black;
}

.estilo_btnActivar {
	background: #13E616; 
	border-color: #13E616; 
	border-radius: 20px;
	width: 100px;
	color: black;
}

.estilo_btnEditar:HOVER {
	text-decoration: underline;
}

.estilo_btnActivar:HOVER {
	text-decoration: underline;
}
@MEDIA (max-width:700px) {
	.div_contenedor_nuevo_servicio{
		flex-direction:column;
	}
	
    .estilo_desborde_descripcion {
		float: left;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
	}
	
	.estilo_nombre_servicio {
		font-size: 1em;
	}
	
	.div_content_img_list{
		width: 40% !important;
		padding: 1%;
	}
	
	.descripcion_costado {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
	}
	
	.estilo_btnEditar {
		width: 50px;
	}

	.estilo_btnActivar {
		width: 50px;
	}
}
.style_restricciones.z-radiogroup{
	background: rgba(0,0,0,0.2);
	padding: 8px;
	border-radius:5px;
	display:flex;
	flex-direction:column;
}
.style_restricciones.z-radiogroup .z-radio input[type="radio"]{
	display: none;
}
.style_restricciones.z-radiogroup .z-radio label{
/* 	color: #053351; */
/* 	margin-left: 7px; */
	display: inline-block;
    cursor: pointer;
    color: #053351;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    font-weight:bold;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.style_restricciones.z-radiogroup .z-radio label:hover{
	background: rgba(0, 0, 0, 0.2);
}
.style_restricciones.z-radiogroup .z-radio label:before{
	  content:'';
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      border-radius: 50%;
      background: none;
      border: 3px solid #053351;
}
.style_restricciones.z-radiogroup input[type="radio"]:checked + label:before {
      display: none; 
}
.style_restricciones.z-radiogroup input[type="radio"]:checked + label{
	  padding: 5px 15px;
      background: #053351;
      border-radius: 2px;
      color: #fff;
}