.div_contenedor_nuevo_subServicio{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}
@MEDIA (max-width:700px) {
	.div_contenedor_nuevo_subServicio{
		flex-direction:column;
	}
}
.div_content_img{
	background: rgba(0,0,0,0.1);
	border-radius:5px;
	padding: 10px;
}
.div_content_datos{
	background: rgba(0,0,0,0.1);
	border-radius:5px;
	padding: 10px;
}