.div_ActualizarDispo{
	width: 100%;
	height: 100%;
/* 	background: rgba(0,0,0,0.2); */
}
.btn_subir_pdf{
	width: 100px;
	height: 50px;
/* 	border-radius:10px; */
	border:none;
/* 	background: #2f2f2f; */
	background:rgba(0,0,0,0.2);
	color:white;
	transition: 0.3s all ease;
}
.btn_subir_pdf:hover{
	    background:#2f2f2f;
	    border-radius:10px;
}
.btn_subir_pdf:focus{
	    background:#2f2f2f;
	    border-radius:10px;
}